:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 224, 224, 0.96) !important;
  background-color: #141010;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-accent: rgb(105, 60, 56);
  --med-accent: rgb(95, 37, 33);
  --dark-accent: rgb(68, 15, 11);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  /* Base color */
  background-color: #141010; 
  /* Layering the animation */
  background: radial-gradient(circle at center, #241414 0%, #141010 100%);
  animation: bgPulse 8s infinite alternate ease-in-out;
  overflow-x: hidden;
}

@keyframes bgPulse {
  0% {
    background-color: #141010;
    filter: brightness(1);
  }
  50% {
    background-color: #1a1111; /* Slightly lighter red-tint */
    filter: brightness(1.2);
  }
  100% {
    background-color: #141010;
    filter: brightness(1);
  }
}